body { padding: 80px 0 40px 0; }
.navbar-brand { background: url('/images/logo.png') no-repeat 10px 11px; padding: 15px 20px 12px 48px; }
.thumbnail { margin-bottom: 0; }
.thumbnail img { height: 168px; background-color: #eee; }
.caption { margin-bottom: 20px; }
